---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="alert">
  <a href="mailto:abhyanmorkal@gmail.com">
    <button><span>{title}</span></button></a
  >
</div>

<style>
  button {
    font-family: preahvihear;
    color: white;
    background-color: #403d39;
    padding: 0.6rem 1.2rem;
    border: 0.4px solid #eb5e28;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: #eb5e28 3px 3px;
  }
</style>
